<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enter Mugs</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> -->
  </head>
  <body>
    <h1>Edit The Revolution!!</h1>
    <h2>EDIT a Mug in the Database</h2>
    <form method='post' action='/edit/{{item_id}}'>
      <input type='text' name='title' placeholder="Mug Title" value="{{title}}">
      <input type='text' name='amazon_url' placeholder="Website" value="{{amazon_url}}">
      <input type='text' name='amazon_photo' placeholder='Picture' value="{{amazon_photo}}">
      <input type='radio' name='is_sassy' value='true'>
      <label>Sassy</label>
      <input type='radio' name='is_sassy' value='false'>
      <label>Not Sassy</label>
      <input type='text' name='price' placeholder='Price' value='{{price}}'>
      <button type='submit'>DO IT</button>
    </form>

  </body>
</html>
