<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hot Mugs</title>
      <link rel="stylesheet" href="main.css">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
  </head>

  <body class='regular'>
    <div class="top">
      <h1>Our collection of "Hot Mugs"</h1>
      <p>See our collection of <a href='/sassy'>sassy mugs</a>
    </div>
    {{#rows}}
    <form method='get' action='/edit/{{item_id}}'>
    <div class='items'>
      <img src='{{amazon_photo}}'>
      <h3>{{title}}</h3>
      <h4>${{price}}</h4>
      <a href='{{amazon_url}}'>click to buy</a>
      <button type='submit'>Edit</button>
    </div>
  </form>
  {{/rows}}

  </body>
</html>
